* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.entry,
.display {
    overflow: auto;
    overflow-x: hidden;
    backface-visibility: hidden;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 100px;
    will-change: overflow;
    padding: .5rem;
    padding-left: 20px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.entry {
    height: 100%;
    width: 33vw;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /*transition: width 0.2s;*/
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0.5px 0px 0.5px gray;
}

.title-close-wrapper {
    position: relative;
    margin-bottom: 2rem;
    display: flex;
}

.entry-title {
    display: flex;
    align-items: center;
}

.open-close-btn {
    position: absolute;
    margin-top: 22px;
    right: 2rem;
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#arrowIcon {
    font-size: 2rem;
}

.display {
    margin-left: 33vw;
    padding-top: 10px;
}

#cmd {
    width: 96%;
    height: 20vh;
    padding: 8px;
}

#submit {
    width: 95%;
    height: 4rem;
    margin: 5px;
}

#clear {
    width: 95%;
    height: 4rem;
    margin: auto;
    margin: 5px;
}

#checkbox {
    margin: auto;
    margin-left: 5px;
}

h2 {
    margin-top: 0px;
}

.cobutton {
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    border: none;
    outline: none;
    text-align: left;
    border-radius: 5px;
}

.active, .cobutton:hover {
    background-color: #eeeeee;
}

.cobutton.collapsed:before {
    content: 'Click to view code';
}

.cobutton:before {
    content: 'Click to hide code';
}

.numlabel {
    display: inline-block;
    width: 3rem;
    height: 1rem;
}

.output {
    margin-top: 5px;
    margin-left: 3rem;
}

.codewrapper {
    margin-left: 3rem;
}