<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/icoder.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/default.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Alter Igo: Talk to your Data</title>
</head>
<body>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='highlight.min.js') }}"></script>
    <!--Script for submitting command to python and generating new content-->
    <script type=text/javascript>
        var i=1;
        var nt=0;
        var np=0;
        $(document).ready(function(){
            $('#submit').click(function(){
                $.getJSON($SCRIPT_ROOT + '/process', {
                    command: $('#cmd').val(),
                }, function(data){
                    var wrapper_id = "wrapper" + data.outputs[4];
                    $('.content').append('<div id="' + wrapper_id + '" class="wrapper"></div>');
                    $('#' + wrapper_id).append('<div class="commandwrapper"><div class="numlabel">['+i+']: </div><div class="command_disp"><b>'+data.outputs[1]+'</b></div><div class="feedback-btns"><button class="thumbsup" id="thumbsup'+data.outputs[4]+'" type="button" onclick="positive('+data.outputs[4]+')" title="This worked well"><i class="bx bx-like"></i></button><button class="thumbsdown" id="thumbsdown'+data.outputs[4]+'" type="button" onclick="negative('+data.outputs[4]+')" title="This did not work well"><i class="bx bx-dislike"></i></button><button class="edit" id="edit'+i+'" type="button" onclick="editcode('+i+')"><i class="bx bx-edit"></i></button><button class="delete" id="delete'+data.outputs[4]+'" type="button" onclick="deleteentry('+data.outputs[4]+')"><i class="bx bx-trash"></i></button></div></div></div>');
                    if (document.getElementById('checkbox').checked) {
                        $('#' + wrapper_id).append("<div class='codewrapper'><button data-toggle='collapse' class='cobutton' data-target='#code"+i+"'></button><div class='collapse in' id='code"+i+"'><pre><code class='language-python'>"+data.outputs[2]+"</code></pre></div></div>");
                    } else if (data.outputs[3] == "") {
                        $('#' + wrapper_id).append("<div class='codewrapper'><button data-toggle='collapse' class='cobutton' data-target='#code"+i+"'></button><div class='collapse in' id='code"+i+"'><pre><code class='language-python'>"+data.outputs[2]+"</code></pre></div></div>");
                    } else {
                        $('#' + wrapper_id).append("<div class='codewrapper'><button data-toggle='collapse' class='cobutton collapsed' data-target='#code"+i+"'></button><div class='collapse' id='code"+i+"'><pre><code class='language-python'>"+data.outputs[2]+"</code></pre></div></div>");
                    }
                    let outputdiv = document.createElement('div');
                    outputdiv.classList = "output";
                    if (data.outputs[0] == 'image') {
                        $(outputdiv).append(data.outputs[3]);
                        $('#' + wrapper_id).append(outputdiv);
                        var imgsrc = document.getElementById('image'+np).src;
                        $(outputdiv).append("<div class='dl_btn'><a href="+imgsrc+" download='image"+np+"'>Download as PNG</a></div>");
                        np++;
                    } else if (data.outputs[0] == 'dataframe') {
                        $(outputdiv).append(data.outputs[3]);
                        $('#' + wrapper_id).append(outputdiv);
                        $(outputdiv).append("<div class='dl_btn'><a href='#' onclick='download_table_as_csv("+'table'+nt+");'>Download as CSV</a></div>");
                        nt++;
                    } else if (data.outputs[3] !== "") {
                        $(outputdiv).append('<pre><code class="language-plaintext">'+data.outputs[3]+'</code></pre>');
                        $('#' + wrapper_id).append(outputdiv);
                    }
                    if (data.outputs[2] == '') {
                        alert("Sorry, I couldn't understand your request.");
                    }
                    $('.content').append('<hr>');
                    hljs.highlightAll();
                    document.getElementById("cmd").value = "";
                    $('html,body').animate({scrollTop: document.body.scrollHeight},"fast");
                i++;
            });
            });
        });
    </script>
    <!--Script for clearing content-->
    <script type=text/javascript>
        $(document).ready(function(){
            var i=0;
            $('#clear').click(function(){
                $('.content').empty();
                hljs.highlightAll();
                document.getElementById("cmd").value = "";
            });
        });
    </script>
    <!--checkbox activator-->
    <script type=text/javascript>
        $('#showcode').change(function () {
            if ($(this).is(":checked")) {
                $('#table').show();
            } else {
                $('#table').hide();
            }
        });
    </script>
    <!--Script to trigger submit on Ctrl+Enter, normal linebreak if just Enter-->
    <script type=text/javascript>
        $(document).ready(function(){
            $('#cmd').keydown(function(e){
                if(e.ctrlKey && (e.keyCode == 13 || e.keyCode == 10)) {
                    e.preventDefault();
                    $('#submit').click();
                    document.getElementById("cmd").value = "";
                }
            });
        });
    </script>
    <!--Script for sidebar activation-->
    <script type=text/javascript>
        $(document).ready(function() {
            var sideBar = document.getElementById('entry');
            var arrBtn = document.getElementById('open-close-btn');
            var arrIco = document.getElementById('arrowIcon');
            var hideOnShrink = document.getElementById('entry-main-content');
            var entryTitle = document.getElementById('entry-title');
            var mainDiv = document.getElementById('display');
            $('#open-close-btn').click(function() {
                if (arrIco.classList == "bx bx-arrow-from-right") {
                    arrIco.classList = "bx bx-arrow-from-left";
                    sideBar.style.width = "6rem";
                    hideOnShrink.style.opacity = "0";
                    entryTitle.style.opacity = "0";
                    mainDiv.style.marginLeft = "6rem";
                } else {
                    arrIco.classList = "bx bx-arrow-from-right";
                    sideBar.style.width = "33vw";
                    hideOnShrink.style.opacity = "1";
                    entryTitle.style.opacity = "1";
                    mainDiv.style.marginLeft = "33vw";
                };
            });
        });
    </script>
    <!--Script to download table as csv on button click-->
    <script type=text/javascript>
        function download_table_as_csv(table_id) {
            var rows = document.querySelectorAll('#'+table_id.id+' tr');
            var csv = [];
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll('td, th');
                for (var j = 0; j < cols.length; j++) {
                    var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                    data = data.replace(/"/g, '""');
                    // Push escaped string
                    row.push('"' + data + '"');
                }
                csv.push(row.join(','));
            }
            var csv_string = csv.join('\n');

            var filename = 'export_' + table_id.id + '.csv';
            var link = document.createElement('a');
            link.style.display = 'none';
            link.setAttribute('target', '_blank');
            link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
            link.setAttribute('download', filename);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>
    <!--Script to send button id to positive_feedback for onclick-->
    <script type=text/javascript>
        function positive(button_id) {
            $.getJSON($SCRIPT_ROOT + '/positive_feedback', {
                    db_id: button_id,
                }, function(data) {
                    var elem_up = document.getElementById('thumbsup'+button_id)
                    var elem_dn = document.getElementById('thumbsdown'+button_id)
                    if (elem_up.style.color == 'green') {
                        elem_up.style.color = 'gray';
                    } else {
                        elem_up.style.color = 'green';
                        elem_dn.style.color = 'gray';
                    }
                });
        }
    </script>
    <!--Script to send button id to negative_feedback for onclick-->
    <script type=text/javascript>
        function negative(button_id) {
            $.getJSON($SCRIPT_ROOT + '/negative_feedback', {
                    db_id: button_id,
                }, function(data) {
                    var elem_up = document.getElementById('thumbsup'+button_id)
                    var elem_dn = document.getElementById('thumbsdown'+button_id)
                    if (elem_dn.style.color == 'red') {
                        elem_dn.style.color = 'gray';
                    } else {
                        elem_dn.style.color = 'red';
                        elem_up.style.color = 'gray';
                    }
                });
        }
    </script>
    <!--Script for activating loading icon on ajax start-->
    <script type=text/javascript>
        $body = $("body");
        $(document).on({
            ajaxStart: function() { $body.addClass("loading");    },
            ajaxStop: function() { $body.removeClass("loading"); }    
        });
    </script>
    <!--Script for triggering code edit on edit button onclick-->
    <script>
        function editcode(code_div_id) {
            var targetdiv = document.getElementById('code'+code_div_id);
            var origcode = targetdiv.textContent;
            var editableText = document.createElement("textarea");
            var editButton = document.getElementById('edit'+code_div_id);
            var confirmButton = document.createElement("button");
            editableText.classList = "editbox";
            editableText.id = "editcode"+code_div_id;
            editableText.style.height = $(targetdiv).css("height");
            editableText.style.width = "100%";
            editableText.value = origcode;
            confirmButton.classList = "confirm";
            confirmButton.id = "confirm"+code_div_id;
            let icon = document.createElement("i");
            icon.classList = "bx bx-check";
            confirmButton.appendChild(icon);
            confirmButton.type = "button";
            confirmButton.setAttribute("onclick", "editconfirm("+code_div_id+")");
            if (targetdiv.classList == "collapse") {
                targetdiv.classList = "collapse in";
            }
            editableText.value = origcode;
            $(targetdiv).hide(); 
            targetdiv.insertAdjacentElement("afterend", editableText);
            editButton.replaceWith(confirmButton);
            cancelButton = document.createElement("button");
            cancelButton.classList = "cancel";
            cancelButton.id = "cancel"+code_div_id;
            let icon2 = document.createElement("i");
            icon2.classList = "bx bx-x";
            cancelButton.appendChild(icon2);
            confirmButton.insertAdjacentElement("afterend", cancelButton);
            cancelButton.type = "button";
            cancelButton.setAttribute("onclick", "editcancel("+code_div_id+")");
            $(editableText).keydown(function(e) {
                if(e.keyCode == 9) {
                    var start = this.selectionStart;
                    var end = this.selectionEnd;
                    var $this = $(this);
                    var value = $this.val();
                    $this.val(value.substring(0, start) + "\t" + value.substring(end));
                    this.selectionStart = this.selectionEnd = start + 1;
                    e.preventDefault();
                }
                if(e.ctrlKey && (e.keyCode == 13 || e.keyCode == 10)) {
                    e.preventDefault();
                    confirmButton.click();
                    cancelButton.remove();
                }
                if(e.key === "Escape") {
                    e.preventDefault();
                    cancelButton.click();
                }
            });
        }
    </script>
    <!--Script for returning textarea to div for code-->
    <script>
        function editconfirm(code_div_id) {
            var editbox = document.getElementById("editcode"+code_div_id);
            var confirmButton = document.getElementById('confirm'+code_div_id);
            var newdiv = document.createElement("div");
            var editButton = document.createElement("button");
            var editedcode = editbox.value;
            newdiv.classList = "collapse in";
            newdiv.id = "code"+code_div_id;
            newdiv.appendChild(document.createElement("pre"));
            newdiv.lastChild.appendChild(document.createElement("code"));
            newdiv.lastChild.lastChild.class = "language-python";
            newdiv.lastChild.lastChild.textContent = editedcode;
            editButton.classList = "edit";
            editButton.id = "edit"+code_div_id;
            let icon = document.createElement("i");
            icon.classList = "bx bx-edit";
            editButton.append(icon);
            editButton.type = "button";
            editButton.setAttribute("onclick", "editcode("+code_div_id+")");
            confirmButton.replaceWith(editButton);
            editbox.replaceWith(newdiv);
            var record_id = editButton.previousSibling.id.replace(/[^0-9]/g,'');
            var outputdiv = newdiv.parentElement.nextSibling;
            $.getJSON($SCRIPT_ROOT + '/edit', {
                ref: record_id,
                new_code: editedcode,
            }, function(data) {
                // parse the outputtype and output passed back, change outputdiv accordingly
                var newoutput = document.createElement("div");
                newoutput.classList = "output";
                if (data.outputs[0] == 'image') {
                    $(newoutput).append(data.outputs[1]);
                    $(outputdiv).replaceWith(newoutput);
                    var imgsrc = document.getElementById('image'+np).src;
                    $(newoutput).append("<div class='dl_btn'><a href="+imgsrc+" download='image"+np+"'>Download as PNG</a></div>");
                    np++;
                } else if (data.outputs[0] == 'dataframe') {
                    $(newoutput).append(data.outputs[1]);
                    $(outputdiv).replaceWith(newoutput);
                    $(newoutput).append("<div class='dl_btn'><a href='#' onclick='download_table_as_csv("+'table'+nt+");'>Download as CSV</a></div>")
                    nt++;
                } else if (data.outputs[1] !== "") {
                    $(newoutput).append('<pre><code class="language-plaintext">'+data.outputs[1]+'</code></pre>');
                    $(outputdiv).replaceWith(newoutput);
                }
                hljs.highlightAll();
            })
        }
    </script>
    <!--Script for closing out of edit box and restoring original text on click of cancel button-->
    <script>
        function editcancel(code_div_id) {
            var targetdiv = document.getElementById('code'+code_div_id);
            var origcode = targetdiv.textContent;
            var editbox = document.getElementById("editcode"+code_div_id);
            var confirmButton = document.getElementById('confirm'+code_div_id);
            var cancelButton = document.getElementById('cancel'+code_div_id);
            var editButton = document.createElement("button");
            editButton.classList = "edit";
            editButton.id = "edit"+code_div_id;
            let icon = document.createElement("i");
            icon.classList = "bx bx-edit";
            editButton.append(icon);
            editButton.type = "button";
            editButton.setAttribute("onclick", "editcode("+code_div_id+")");
            confirmButton.replaceWith(editButton);
            cancelButton.remove();
            editbox.remove();
            $(targetdiv).show();
            hljs.highlightAll();
        }
    </script>
    <!--Script for deleting entry and corresponding database record, along with entry in codex_context-->
    <script>
        function deleteentry(record_id) {
            var wrapper = document.getElementById('wrapper'+record_id);
            var linebreak = wrapper.nextSibling;
            $.getJSON($SCRIPT_ROOT + '/delete_record', {
                db_id: record_id,
            }, function(data) {
                wrapper.remove();
                linebreak.remove();
            })
        }
    </script>
    <!--Script for allowing tab in textareas-->
    <script>
        $(document).ready(function(){
            $('textarea').keydown(function(e) {
                if(e.keyCode == 9) {
                    var start = this.selectionStart;
                    var end = this.selectionEnd;
                    var $this = $(this);
                    var value = $this.val();
                    $this.val(value.substring(0, start) + "\t" + value.substring(end));
                    this.selectionStart = this.selectionEnd = start + 1;
                    e.preventDefault();
                }
            });
        });
    </script>
    <!--HTML for body of page-->
    <!--Sidebar that collapses to the left edge-->
    <div class="entry" id="entry">
        <div class="title-close-wrapper">
            <div class="entry-title" id="entry-title">
                <span class="entry-header">
                    <h3>Say what you want in plain English:</h3>
                </span>
            </div>
            <button class="open-close-btn" id="open-close-btn" title="Collapse or expand sidebar">
                <i class="bx bx-arrow-from-right" id="arrowIcon"></i>
            </button>
        </div>
        <div class="entry-main-content" id="entry-main-content">
            <div class="textarea-and-btns">
                <textarea id="cmd" name="cmd" autocomplete="off"></textarea>
                <br>
                <div class="btn-toolbar">
                    <button class="btn btn-primary" id="submit" type="button" title="Submit query (Ctrl+Enter)">
                        <i class="bx bx-right-arrow-alt" id="submit-icon"></i>
                    </button>
                    <button class="btn" id="clear" type="button" title="Clear display">
                        <i class="bx bx-refresh" id="refresh-icon"></i>
                    </button>
                </div>
            </div>
            <br>
            <div>
                <label for="#checkbox" class="checklabelcont">
                    <input type="checkbox" id="checkbox" name="checkbox">
                    <span class="checkbox-label">Show code</span>
                </label>
            </div>
        </div>
    </div>
<!--Main content-->
    <div class="display" id="display">
        <div class="content" id="content"></div>
    </div>
    <div class="modal"></div>
</body>