<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/icoder.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/default.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Interactive Coder</title>
</head>
<body>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='highlight.min.js') }}"></script>
    <!--Script for submitting command to python and generating new content-->
    <script type=text/javascript>
        $(document).ready(function(){
            var i=0;
            $('#submit').click(function(){
                $.getJSON($SCRIPT_ROOT + '/process', {
                    command: $('#cmd').val(),
                }, function(data){
                    $('.content').append('<p>Command:</p>');
                    $('.content').append('<div><pre><code class="language-plaintext">'+data.outputs[1]+'</code></pre></div>');
                    if (document.getElementById('checkbox').checked) {
                        $('.content').append("<button data-toggle='collapse' class='cobutton' data-target='#code"+i+"'>Code:</button>");
                        $('.content').append("<div class='collapse in' id='code"+i+"'><pre><code class='language-python'>"+data.outputs[2]+"</code></pre></div>");
                        $('.content').append('<p>Output ['+i+']:</p>');
                    } else {
                        $('.content').append('<p>Output ['+i+']:</p>');
                    }
                    if (data.outputs[0] == 'image') {
                        $('.content').append('<div>'+data.outputs[3]+'</div>');
                    } else {
                        $('.content').append('<div><pre><code class="language-plaintext">'+data.outputs[3]+'</code></pre></div>');
                    }
                    $('.content').append('<hr>');
                    hljs.highlightAll();
                    document.getElementById("cmd").value = "";
                    $(".display").scrollTop(function() { return this.scrollHeight; });
                });
            i++;
            });
        });
    </script>
    <!--Script for clearing content-->
    <script type=text/javascript>
        $(document).ready(function(){
            $('#clear').click(function(){
                $('.content').empty();
                hljs.highlightAll();
                document.getElementById("cmd").value = "";
            });
        });
    </script>
    <!--checkbox activator-->
    <script type=text/javascript>
        $('#showcode').change(function () {
            if ($(this).is(":checked")) {
                $('#table').show();
            } else {
                $('#table').hide();
            }
        });
    </script>
    <!--Script to trigger submit on Enter-->
    <script type=text/javascript>
        $(document).ready(function(){
            $('#cmd').keydown(function(e){
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $('#submit').click();
                    document.getElementById("cmd").value = "";
                }
            });
        });
    </script>
    <!--HTML for body of page-->
    <div class="top">
        <div class="cmdhead">
            <h2>Command Entry</h2>
        </div>
        <div class="disphead">
            <h2>Code & Output Display</h2>
        </div>
    </div>
    <div class="row">
        <div class="entry">
            <input type="text" id="cmd" name="cmd">
            <br>
            <div class="btn-toolbar">
                <button class="btn btn-primary" id="submit" type="button">Submit</button>
                <button class="btn" id="clear" type="button">Clear Display</button>
                <label for="#checkbox" class="checklabelcont">
                    <input type="checkbox" id="checkbox" name="checkbox">
                    <span class="checkbox-label">Show code</span>
                </label>
            </div>
        </div>
        <div class="display">
            <div class="content"></div>
        </div>
    </div>
</body>